*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml

test/doctests/builds/
test/examples/builds/
test/formats/builds/
test/missingdocs/build/
test/nongit/build/
test/errors/build/
test/prerender/build/
test/workdir/builds/
docs/build/
docs/build-pdf/
docs/site/
