*.jl.cov
*.jl.*.cov
*.jl.mem
Manifest.toml

test/doctests/builds/
test/examples/builds/
test/formats/builds/
test/missingdocs/build/
test/nongit/build/
test/errors/build/
test/prerender/build/
test/themes/dev/
test/workdir/builds/
test/quietly-logs/
docs/dev/
docs/build/
docs/build-pdf/
docs/site/

.vscode
