// Base warning overlay styles
.warning-overlay-base {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 999;
  padding: 10px 35px;
  text-align: center;
  font-size: 15px;

  .outdated-warning-closer {
    position: absolute;
    top: calc(50% - 10px);
    right: 18px;
    cursor: pointer;
    width: 12px;
  }

  a {
    color: $link;
    &:hover {
      color: $link-hover;
    }
  }
}

// outdated-docs warning overlay (for older versions)
.outdated-warning-overlay {
  @extend .warning-overlay-base;
  background-color: map-get($admonition-background, 'danger');
  color: map-get($admonition-body-color, 'danger');
  border-bottom: 3px solid map-get($admonition-header-background, 'danger');
}

// dev-docs warning overlay (for development versions)
.dev-warning-overlay {
  @extend .warning-overlay-base;
  background-color: map-get($admonition-background, 'warning');
  color: map-get($admonition-body-color, 'warning');
  border-bottom: 3px solid map-get($admonition-header-background, 'warning');
}