// Permalinks to page headings
// Implemented as empty <a> tags inside the <hN> tags, showing up as chain icons
h1, h2, h3, h4, h5, h6 {
  .docs-heading-anchor {
    &, &:hover, &:visited {
      color: $content-heading-color;
    }
  }

  .docs-heading-anchor-permalink {
    visibility: hidden;
    vertical-align: middle;
    margin-left: 0.5em;
    font-size: 0.7rem;

    &::before {
      @include font-awesome;
      content: "\f0c1";
    }
  }
  // the permalinks icon is only shown if the user hovers over the heading
  &:hover .docs-heading-anchor-permalink {
    visibility: visible;
  }
}

@if $documenter-is-dark-theme {
  .docs-light-only {
    display: none !important;
  }
} @else {
  .docs-dark-only {
    display: none !important;
  }
}

.code-container {
  position: relative;

  .copy-button {
    opacity: 0;
    transition: opacity 0.2s;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    padding: 0.5em;
    width: 2.5em;

    &:focus {
      opacity: 1;
    }

    &.success {
      color: $green;
      opacity: 1;
    }

    &.error {
      color: $red;
      opacity: 1;
    }
  }

  &:hover .copy-button {
    opacity: 1;
  }
}
