// Additional variables and overrides

// While the docs claim that the navbar breakpoint is `mobile`, it actually is `desktop`.
// Hence the need to override this variable.
// $navbar-breakpoint: $tablet !default;

$documenter-sidebar-title-width: 0.9 * $documenter-sidebar-width !default;
$documenter-sidebar-menu-padding: 1rem !default;
$documenter-sidebar-title-font-size: $size-large !default;

// $documenter-sidebar-background: $primary !default;
$documenter-sidebar-background: $background !default;
$documenter-sidebar-color: invert($documenter-sidebar-background) !default;

// $documenter-sidebar-scrollbar-color: adjust-color($background, $lightness: -10%);
// $documenter-sidebar-scrollbar-color-hover: adjust-color($background, $lightness: -20%);
$documenter-sidebar-scrollbar-color: darken-color($documenter-sidebar-background, 1) !default;
$documenter-sidebar-scrollbar-color-hover: darken-color($documenter-sidebar-background, 2) !default;

$documenter-sidebar-menu-border: darken-color($border, 1) !default;

// $documenter-sidebar-menu-hover-color: $text-strong !default;
$documenter-sidebar-menu-hover-background: darken-color($documenter-sidebar-background, 0.5) !default;

// $documenter-sidebar-menu-active-background: $primary !default;
// $documenter-sidebar-menu-active-background: $white !default;
// $documenter-sidebar-menu-active-background: darken-color($documenter-sidebar-background, 0.5) !default;
$documenter-sidebar-menu-active-background: lighten-color($documenter-sidebar-background, 0.5) !default;
$documenter-sidebar-menu-active-color: $documenter-sidebar-color !default;
$documenter-sidebar-menu-active-font-weight: $weight-bold !default;

$documenter-sidebar-menu-internal-background: darken-color($documenter-sidebar-background, 1) !default;
$documenter-sidebar-menu-internal-hover-background: darken-color($documenter-sidebar-background, 4) !default;
$documenter-sidebar-menu-internal-hover-color: invert($documenter-sidebar-menu-internal-hover-background) !default;
$documenter-sidebar-menu-internal-border: darken-color($border, 1) !default;

$breadcrumb-item-disabled-color: $text-strong !default;

$content-pre-padding: 0.7rem 0.5rem !default;

$admonition-background: ('default': $grey-light, 'warning': #fff3c5) !default;

$documenter-docstring-shadow: 2px 2px 3px rgba($black, 0.1) !default;
