// Variable definitions. Some are Documenter-specific, others are setting Bulma variables.


// Colors
// ------
$primary: #4eb5de !default;
$red: #da0b00 !default;
$blue: #2e63b8 !default;
$green: #22c35b !default;
$turquoise: #1db5c9 !default;
$text: #222222 !default;
$text-strong: $text !default;
$code: #000000 !default;
// The inline <code> tags get rendered on various different backgrounds. Therefore, in order
// to make sure it always renders nicely, we'll just use transparent black color to make the
// background of the <code> elements slightly darker.
$code-background: rgba(0, 0, 0, 0.05) !default;
$code-padding: 0.1em;

$documenter-docstring-background: transparent !default;

$documenter-is-dark-theme: false !default;

// Helper functions
// ----------------
// Declares the amount of lightness modifier used in the darken-color and lighten-color
// functions. Setting this to a negative value is useful for dark themes.
$lightness-unit: 8% !default;
// Uses adjust-color to create a darker version of $color
@function darken-color($color, $factor) {
  @return adjust-color($color, $lightness: -$factor*$lightness-unit);
}
// Uses adjust-color to create a lighter version of $color
@function lighten-color($color, $factor) {
  @return adjust-color($color, $lightness: $factor*$lightness-unit);
}


// Fonts
// -----
// Declares the font family for the main text.
$family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-monospace: 'JuliaMono', 'SFMono-Regular', 'Menlo', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace !default;
// Note: declaring a font family here does not necessarily mean that it will be available
// for the user. For uncommon fonts it is up to the user to also provide the necessary font
// assets, e.g. via a CDN, in the makedocs() call.


// Shadows
// -------
// Shadows are used to visually elevate UI elements that are "floating" (e.g. the sidebar
// on mobile layout).
$shadow: #bbb !default;
$shadow-size: 0.2rem !default;
$shadow-blur: 0.4rem !default;


// Layout
// ------
$body-overflow-x: auto !default;
$body-size: 16px !default;
$documenter-max-width: 50rem !default;
$documenter-sidebar-width: 18rem !default;

$documenter-sidebar-main-gap: 2rem !default;
$documenter-main-padding-right: 1rem !default;
$documenter-main-padding: 1rem !default;

// We'll override the Bulma $tablet width, which is the point at which the
// layout switches between the mobile and tablet modes. Note: $tablet needs
// to be in px, hence the unit conversion.
$desktop: round($body-size * ($documenter-max-width + $documenter-sidebar-width + $documenter-sidebar-main-gap + $documenter-main-padding-right - 5rem)/1rem) !default;

// Admonitions
$message-header-padding: 0.75em;
$message-body-padding: 1em 1.25em;
// Docstrings
$card-content-padding-v: 1rem;
$card-content-padding-h: 1.25rem;
$card-content-padding: $card-content-padding-v $card-content-padding-h;
