$catppuccin-rosewater: #f2d5cf;
$catppuccin-flamingo: #eebebe;
$catppuccin-pink: #f4b8e4;
$catppuccin-mauve: #ca9ee6;
$catppuccin-red: #e78284;
$catppuccin-maroon: #ea999c;
$catppuccin-peach: #ef9f76;
$catppuccin-yellow: #e5c890;
$catppuccin-green: #a6d189;
$catppuccin-teal: #81c8be;
$catppuccin-sky: #99d1db;
$catppuccin-sapphire: #85c1dc;
$catppuccin-blue: #8caaee;
$catppuccin-lavender: #babbf1;
$catppuccin-text: #c6d0f5;
$catppuccin-subtext1: #b5bfe2;
$catppuccin-subtext0: #a5adce;
$catppuccin-overlay2: #949cbb;
$catppuccin-overlay1: #838ba7;
$catppuccin-overlay0: #737994;
$catppuccin-surface2: #626880;
$catppuccin-surface1: #51576d;
$catppuccin-surface0: #414559;
$catppuccin-base: #303446;
$catppuccin-mantle: #292c3c;
$catppuccin-crust: #232634;
