$catppuccin-rosewater: #dc8a78;
$catppuccin-flamingo: #dd7878;
$catppuccin-pink: #ea76cb;
$catppuccin-mauve: #8839ef;
$catppuccin-red: #d20f39;
$catppuccin-maroon: #e64553;
$catppuccin-peach: #fe640b;
$catppuccin-yellow: #df8e1d;
$catppuccin-green: #40a02b;
$catppuccin-teal: #179299;
$catppuccin-sky: #04a5e5;
$catppuccin-sapphire: #209fb5;
$catppuccin-blue: #1e66f5;
$catppuccin-lavender: #7287fd;
$catppuccin-text: #4c4f69;
$catppuccin-subtext1: #5c5f77;
$catppuccin-subtext0: #6c6f85;
$catppuccin-overlay2: #7c7f93;
$catppuccin-overlay1: #8c8fa1;
$catppuccin-overlay0: #9ca0b0;
$catppuccin-surface2: #acb0be;
$catppuccin-surface1: #bcc0cc;
$catppuccin-surface0: #ccd0da;
$catppuccin-base: #eff1f5;
$catppuccin-mantle: #e6e9ef;
$catppuccin-crust: #dce0e8;
