$catppuccin-rosewater: #f4dbd6;
$catppuccin-flamingo: #f0c6c6;
$catppuccin-pink: #f5bde6;
$catppuccin-mauve: #c6a0f6;
$catppuccin-red: #ed8796;
$catppuccin-maroon: #ee99a0;
$catppuccin-peach: #f5a97f;
$catppuccin-yellow: #eed49f;
$catppuccin-green: #a6da95;
$catppuccin-teal: #8bd5ca;
$catppuccin-sky: #91d7e3;
$catppuccin-sapphire: #7dc4e4;
$catppuccin-blue: #8aadf4;
$catppuccin-lavender: #b7bdf8;
$catppuccin-text: #cad3f5;
$catppuccin-subtext1: #b8c0e0;
$catppuccin-subtext0: #a5adcb;
$catppuccin-overlay2: #939ab7;
$catppuccin-overlay1: #8087a2;
$catppuccin-overlay0: #6e738d;
$catppuccin-surface2: #5b6078;
$catppuccin-surface1: #494d64;
$catppuccin-surface0: #363a4f;
$catppuccin-base: #24273a;
$catppuccin-mantle: #1e2030;
$catppuccin-crust: #181926;
