div.wy-menu-vertical ul.current li.toctree-l3 a {
  font-weight: bold;
}

a.documenter-source {
  float: right;
}

.documenter-methodtable pre {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
}

.documenter-methodtable pre.documenter-inline {
    display: inline;
}
