@charset "UTF-8";
// The Documente dark theme is a modified version of the Darkly theme from Bulmaswatch:
// https://jenil.github.io/bulmaswatch/, https://github.com/jenil/bulmaswatch
$themename: "documenter-dark"; // CSS file must be called `$(themename).css`

// Darkly wants to @import the Lato font by default, but we don't need it.
$bulmaswatch-import-font: false;

@import "darkly/variables";

$documenter-is-dark-theme: true;

// Darkly sets the font variables, so we need to override them here
$family-sans-serif: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: 'JuliaMono', 'SFMono-Regular', 'Menlo', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

$info: #024c7d;
$success: #008438;
$warning: #ad8100;
$danger: #9e1b0d;
$turquoise: #137886;

$admonition-background: (
  'default': $background, 'info': $background, 'success': $background, 'warning': $background,
  'danger': $background, 'compat': $background
);
$admonition-header-background: ('default': $grey);

$body-size: 16px;
$documenter-sidebar-background: $grey-darker;
$shadow: #171717;
$documenter-sidebar-color: $text;
$lightness-unit: -8%;

// $docstring-pre-background: adjust-color($background, $lightness: 5);
$border-width: 1px;

@import "documenter/utilities";
@import "documenter/variables";

$code: $red;
$code-background: rgba(255, 255, 255, 0.05);

$documenter-docstring-shadow: none;

@import "bulma/utilities/all";
@import "bulma/base/minireset.sass";
@import "bulma/base/helpers.sass";

// Search box, version selector etc.
$input-color: $grey-lighter;
$input-background-color: $body-background-color;
$input-border-color: $border;
$input-placeholder-color: rgba($input-color, 0.3);

$button-static-color: $grey-lighter;
$button-static-background-color: $background;
$button-static-border-color: $border;

// All secondary themes have to be nested in a theme--$(themename) class. When Documenter
// switches themes, it applies this class to <html> and then disables the primary
// stylesheet.
html.theme--#{$themename} {
  @import "bulma/base/generic.sass";

  @import "documenter/overrides";

  @import "bulma/elements/all";
  @import "bulma/form/all";
  @import "bulma/components/all";
  @import "bulma/grid/all";
  @import "bulma/layout/all";

  @import "darkly/overrides";

  @import "documenter/elements";
  @import "documenter/components/all";
  @import "documenter/patches";
  @import "documenter/layout/all";

  @import "documenter/theme_overrides";

  // .docstring {
  //   border: $border-width solid $border;
  //   box-shadow: none;
  //
  //   header {
  //     box-shadow: none;
  //     background-color: rgba($black-bis, 0.2);
  //     border-radius: $radius $radius 0 0;
  //   }
  // }

  // FIXME: Hack to get a proper theme for highlight.js in the Darkly theme
  @import "highlightjs/a11y-dark";
  // Also, a11y-dark does not highlight string interpolation properly.
  .hljs-subst {
    color: #f8f8f2;
  }
}
