@charset "UTF-8";
// The Documente dark theme is a modified version of the Darkly theme from Bulmaswatch:
// https://jenil.github.io/bulmaswatch/, https://github.com/jenil/bulmaswatch
$themename: "documenter-dark"; // CSS file must be called `$(themename).css`

// Darkly wants to @import the Lato font by default, but we don't need it.
$bulmaswatch-import-font: false;

@import "darkly/variables";
$body-size: 16px;
$size-6: 1rem;
$size-7: 0.75rem;

$documenter-is-dark-theme: true;

// Darkly sets the font variables, so we need to override them here
$family-sans-serif: 'Lato Medium', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: 'JuliaMono', 'SFMono-Regular', 'Menlo', 'Consolas', 'Liberation Mono', 'DejaVu Sans Mono', monospace;

$red: #cb3c33;
$orange: #d56c00;
$yellow: #f4c72f;
$green: #259a12;
$turquoise: #00a1b7;
$cyan: #3489da;
$blue: #3c5dcd;
$purple: #9558b2;

// Admonition colors
$info: $blue;
$success: $green;
$warning: $yellow;
$danger: $red;
$compat: $cyan;
$todo: $purple;
$admonition-default: $grey-lighter;

$admonition-background: (
  'default': $background, 'info': $background, 'success': $background, 'warning': $background,
  'danger': $background, 'compat': $background
);
// These would normally get initialized in _admonition.scss. However, since we are not
// loading it on the top level, we need to set them here too to avoid deprecation warnings.
// https://github.com/JuliaDocs/Documenter.jl/issues/1766
$admonition-header-background: ();
$admonition-header-color: ();
$admonition-body-color: ();
$admonition-border-color: ();

$body-size: 16px;
$documenter-sidebar-background: $grey-darker;
$shadow: #171717;
$documenter-sidebar-color: $text;
$lightness-unit: -8%;

// $docstring-pre-background: adjust-color($background, $lightness: 5);
$border-width: 1px;

@import "documenter/utilities";
@import "documenter/variables";

$code: #ececec;
$code-background: rgba(255, 255, 255, 0.05);

$documenter-docstring-shadow: none;

@import "bulma/utilities/all";
@import "bulma/base/minireset.sass";
@import "bulma/helpers/all";

// Search box, version selector etc.
$input-color: $grey-lighter;
$input-background-color: $body-background-color;
$input-border-color: $border;
$input-placeholder-color: #868c98;

$search-result-link-text-color: #333;
$search-result-link-text-background-color: #f1f5f9;
$search-result-title-text-color: whitesmoke;
$search-modal-kbd-color: rgba(245, 245, 245, 0.6);

$button-static-color: $grey-lighter;
$button-static-background-color: $background;
$button-static-border-color: $border;

// All secondary themes have to be nested in a theme--$(themename) class. When Documenter
// switches themes, it applies this class to <html> and then disables the primary
// stylesheet.
html.theme--#{$themename} {
  @import "bulma/base/generic.sass";

  @import "documenter/overrides";

  @import "bulma/elements/all";
  @import "bulma/form/all";
  @import "bulma/components/all";
  @import "bulma/grid/all";
  @import "bulma/layout/all";

  @import "darkly/overrides";

  @import "documenter/elements";
  @import "documenter/components/all";
  @import "documenter/patches";
  @import "documenter/layout/all";

  @import "documenter/theme_overrides";

  // .docstring {
  //   border: $border-width solid $border;
  //   box-shadow: none;
  //
  //   header {
  //     box-shadow: none;
  //     background-color: rgba($black-bis, 0.2);
  //     border-radius: $radius $radius 0 0;
  //   }
  // }

  @import "documenter/ansicolors";

  // highlight.js color scheme override for the julia> prompt
  code.language-julia-repl > span.hljs-meta {
    color: $ansi-green;
    font-weight: bolder;
  }

  // FIXME: Hack to get a proper theme for highlight.js in the Darkly theme
  @import "highlightjs/a11y-dark";
  // Also, a11y-dark does not highlight string interpolation properly.
  .hljs-subst {
    color: #f8f8f2;
  }

  .search-result-link {
    border-radius: 0.7em;
    transition: all 300ms;
  }

  .search-result-link:hover, .search-result-link:focus {
    background-color: rgba(0, 128, 128, 0.1);
  }

  .search-result-link .property-search-result-badge {
    transition: all 300ms;
  }

  .search-result-link:hover .property-search-result-badge, .search-result-link:focus .property-search-result-badge {
    color: #333 !important;
    background-color: #f1f5f9 !important;
  }

  .search-result-title {
    color: whitesmoke;
  }

  .search-result-highlight {
    background-color: greenyellow;
    color: black;
  }

  .search-divider {
    border-bottom: 1px solid #5e6d6f50
  }

  .w-100 {
    width: 100%;
  }
  
  .gap-2 {
    gap: 0.5rem;
  }

  .gap-4 {
    gap: 1rem;
  }
}
