$juliamono-base-url: "https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037";

// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-Black.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-Bold.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-BoldLatin.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-ExtraBold.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-Light.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-Medium.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-Regular.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-RegularLatin.woff2
// https://cdnjs.cloudflare.com/ajax/libs/juliamono/0.037/JuliaMono-SemiBold.woff2

@font-face {
    font-family: JuliaMono;
    font-weight: 300;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-Light.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: JuliaMono;
    font-weight: 400;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-Medium.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: JuliaMono;
    font-weight: 500;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-SemiBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: JuliaMono;
    font-weight: 600;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-Bold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: JuliaMono;
    font-weight: 800;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-ExtraBold.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: JuliaMono;
    font-weight: 900;
    font-style: normal;
    src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-Black.woff2") format("woff2");
    text-rendering: optimizeLegibility;
}

// @font-face {
//     font-family: JuliaMono;
//     font-weight: 400;
//     font-style: normal;
//     src: local('JuliaMono'), url("#{$juliamono-base-url}/JuliaMono-Regular.woff2") format("woff2");
//     text-rendering: optimizeLegibility;
// }

/*! Lato font. */
// @font-face{
//     font-family:Lato;
//     font-weight:100;
//     font-style:normal;
//     @font-face{
//         font-family:Lato;
//         font-weight:600;
//         font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-hairline/lato-hairline.woff2) format("woff2"),url(../fonts/lato-hairline/lato-hairline.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:100;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-hairline-italic/lato-hairline-italic.woff2) format("woff2"),url(../fonts/lato-hairline-italic/lato-hairline-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:200;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-thin/lato-thin.woff2) format("woff2"),url(../fonts/lato-thin/lato-thin.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:200;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-thin-italic/lato-thin-italic.woff2) format("woff2"),url(../fonts/lato-thin-italic/lato-thin-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:300;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-light/lato-light.woff2) format("woff2"),url(../fonts/lato-light/lato-light.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:300;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-light-italic/lato-light-italic.woff2) format("woff2"),url(../fonts/lato-light-italic/lato-light-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:400;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-normal/lato-normal.woff2) format("woff2"),url(../fonts/lato-normal/lato-normal.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:400;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-normal-italic/lato-normal-italic.woff2) format("woff2"),url(../fonts/lato-normal-italic/lato-normal-italic.woff) format("woff")
// }
// @font-face{
//     font-family:"Lato Medium";
//     font-weight:400;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-medium/lato-medium.woff2) format("woff2"),url(../fonts/lato-medium/lato-medium.woff) format("woff")
// }
// @font-face{
//     font-family:"Lato Medium";
//     font-weight:400;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-medium-italic/lato-medium-italic.woff2) format("woff2"),url(../fonts/lato-medium-italic/lato-medium-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:500;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-semibold/lato-semibold.woff2) format("woff2"),url(../fonts/lato-semibold/lato-semibold.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:500;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-semibold-italic/lato-semibold-italic.woff2) format("woff2"),url(../fonts/lato-semibold-italic/lato-semibold-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:600;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-bold/lato-bold.woff2) format("woff2"),url(../fonts/lato-bold/lato-bold.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:600;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-bold-italic/lato-bold-italic.woff2) format("woff2"),url(../fonts/lato-bold-italic/lato-bold-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:800;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-heavy/lato-heavy.woff2) format("woff2"),url(../fonts/lato-heavy/lato-heavy.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:800;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-heavy-italic/lato-heavy-italic.woff2) format("woff2"),url(../fonts/lato-heavy-italic/lato-heavy-italic.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:900;
//     font-style:normal;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-black/lato-black.woff2) format("woff2"),url(../fonts/lato-black/lato-black.woff) format("woff")
// }
// @font-face{
//     font-family:Lato;
//     font-weight:900;
//     font-style:italic;
//     text-rendering:optimizeLegibility;
//     src:url(../fonts/lato-black-italic/lato-black-italic.woff2) format("woff2"),url(../fonts/lato-black-italic/lato-black-italic.woff) format("woff")
// }
